<!doctype html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>He thong tuoi tieu thong minh</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <script src="../js/common.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
      <a class="navbar-brand" href="/">SmartAgri</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/real"><i class="fas fa-chart-bar"></i>Dữ liệu thu thập trong tháng qua</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/management">Tối ưu hóa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resource">Tài nguyên</a>
        </li>
      </ul>
      <ul class="nav"> 
        <li class="nav-item">Chào mừng <strong><%= name %></strong> đã đăng nhập</li>
      </ul>
    </nav>
    <section id="content">