<%- include("_header_page") -%>
<%
    let motorTurnedOnCount = 0; //số lần máy bơm được bật
    feeds.forEach(obj => {
        if(obj.field4!="0"){
            motorTurnedOnCount++;
        }
    })
    var electricUsedCurrentMonth = 12 * 0.6 * (30 * motorTurnedOnCount / 3600);
    var WhTokWh= electricUsedCurrentMonth/1000;

    /**
    Bậc 1: Từ 0-50kWh: 1.678 đồng/kWh (giá cũ là 1.549 đồng/kWh).
    Bậc 2: Từ 51 – 100 kWh: 1.734 đồng/kWh (giá cũ là 1.600 đồng/kWh).
    Bậc 3: Từ 101 – 200 kWh: 2.014 đồng/kWh (giá cũ là 1.858 đồng/kWh).
    Bậc 4: Từ 201 – 300 kWh: 2.536 đồng/kWh (giá cũ là 2.340 đồng/kWh).
    **/
    var priceTotal = 0;
    if(WhTokWh<=50){
        priceTotal = priceTotal*1678; 
    }else if(50 < WhTokWh <= 100){
        priceTotal = priceTotal*1734; 
    }else if( 100 < WhTokWh <=200){
        priceTotal = priceTotal*2014; 
    }else{
        priceTotal = priceTotal*2536; 
    }
%>
<div class="row justify-content-start m-3">
    <div class="col-4">
        <img class="image" src="../imgs/dien.jpg" width="300px"/>
    </div>
    <div class="col-8 featured">
        <p class="h4">THÔNG TIN ĐIỆN TIÊU DÙNG CHO HỆ THỐNG TRONG THÁNG</p>
        <p>
            Tổng lượng điện tiêu thụ trong tháng đến nay: <strong><%= electricUsedCurrentMonth %> Wh</strong><br>
            Số tiền điện tương ứng là : <strong><%= priceTotal %> VNĐ</strong><br>
        </p>
        <p class="text-right">
            <em>Thông tin mang tính chất ước lượng !</em>
        </p>
    </div>
</div>

<%- include("_footer") -%>