<%- include("_header") -%>
<div class="container">
    <div class="text-center col-lg-10 col-md-8 mx-auto p-3">
        <h2>Đề tài: NÔNG NGHIỆP THÔNG MINH VỚI HỆ THỐNG TƯỚI CÂY TỰ ĐỘNG QUẢN LÝ TRÊN ỨNG DỤNG WEB</h2>
    </div>
</div>
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="imgs/line.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dữ liệu tháng</h5>
              <p class="card-text">Bạn có thể xem dữ liệu độ ẩm đất, nhiệt độ và độ ẩm không khí trong tháng hiện tại</p>
              <a href="real" class="btn btn-primary">Xem</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="imgs/toi-uu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tối ưu hóa</h5>
              <p class="card-text">Các thông tin lưu trữ của các mùa vụ trước, bạn có thể định hướng để nâng cao năng suất</p>
              <a href="management" class="btn btn-primary">Xem</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="imgs/du-lieu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tài liệu cây trồng</h5>
              <p class="card-text">Thông tin về các loại cây trồng có sẵn và bạn cũng có thể tự lưu trữ để gia tăng sản xuất</p>
              <a href="source" class="btn btn-primary">Xem</a>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="container about">
    <div class="text-center col-lg-8 col-md-8 mx-auto p-3">
        <h2>Giới thiệu</h2>
        <p>
            Đề tài nghiên cứu về “NÔNG NGHIỆP THÔNG MINH VỚI HỆ THỐNG TƯỚI CÂY TỰ ĐỘNG QUẢN LÝ TRÊN ỨNG DỤNG WEB” là một đề tài nghiên cứu thuộc lĩnh vực Kỹ thuật.
        </p>
        <p class="text-left">
            Giáo viên hướng dẫn: <strong>Nguyễn Thị Thủy</strong>
            <br>
            Học sinh tham gia: <strong>Nguyễn A</strong>
            <br>
            Học sinh tham gia: <strong>Trần B</strong>
        </p>
        <p>
            <img src="imgs/map.jpg"/>
        </p>
    </div>
</div>
<%- include("_footer") -%>