<%- include("_header") -%>
<div class="p-3">
    <h2>Tìm kiếm thông tin</h2>
    <div class="mb-3">
        <label class="form-label">Chọn kênh</label>
        <select class="form-select">
            <option value="">Kênh 1</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Chọn dữ liệu muốn thống kê</label>
        <select class="form-select">
            <option>Nước</option>
            <option>Nhiệt độ không khí</option>
            <option>Độ ẩm đất</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Chọn thời gian thống kê</label>
        <select class="form-select">
            <option>Tháng này</option>
            <option>Năm qua</option>
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Tìm kiếm</button>
    </div>

</div>
<%- include("_footer") -%>