<%- include("_header") -%>
<div class="row mga m-3">
    <h4>HÃY LỰA CHỌN THEO DANH MỤC DƯỚI ĐÂY ĐỂ TỐI ƯU HÓA SẢN XUẤT</h4>
</div>
<div class="row mga m-3">
        <a href="management/electric" class="btn btn-warning item">Thông tin lượng Điện năng sử dụng</a>
        <a href="management/water" class="btn btn-success item">Thông tin lượng Nước tưới sử dụng</a>
</div>
<%- include("_footer") -%>