<%- include("_header_page") -%>
<h1 class="m-3">DỮ LIỆU CÂY TRỒNG</h1>
<div class="row justify-content-start m-3">
    <p class="text-danger"><strong>Dữ liệu đang được cập nhật bổ sung !</strong></p>
</div>
<div class="row justify-content-start m-3">
    <a href="#cam" class="btn btn-warning btn-lg" tabindex="-1" role="button" aria-disabled="true">Cây Cam</a>
    <a href="#tao" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Cây Táo</a>
    <a href="#oi" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Cây Ổi</a>
</div>
<div class="row justify-content-start m-3">
    <div id="cam" class="card" style="width: 33rem;">
        <div class="card-body">
          <h5 class="card-title">Cam vinh</h5>
          <h6 class="card-subtitle mb-2 text-muted">Yêu cầu điều kiện sinh trưởng của cây cam Vinh</h6>
            <ul>
                <li>Nhiệt độ: cam thích ứng với nhiệt độ từ 12 - 39 độ C, thậm chí có thể chịu được mức nhiệt lên đến 48 độ C. Nếu dưới - 8 độ C, cây sẽ chết. Tuy nhiên, mức nhiệt lý tưởng nhất để trồng và chăm sóc cây cam Vinh là từ 23 - 39 độ C.</li>
                <li>Lượng mưa: cam có thể trồng ở khu vực có lượng mưa từ 1.250 - 1850mm/năm. Cây không thể chịu úng.</li>
                <li>Độ ẩm: độ ẩm lý tưởng từ 70 - 80%.</li>
                <li>Đất đai: tầng đất canh tác, dày ít nhất từ 0,6 - 1m. Đất tơi xốp, đất cát pha hoặc đất thịt nhẹ, thông thoáng, dễ thoát nước, có thành phần cơ giới nhẹ đến trung bình. Đặc biệt, đất giàu mùn, giàu dinh dưỡng cây sẽ phát triển tốt. Độ pH của đất từ 5,5 - 6, độ dốc từ 3 - 8 độ. Với các vùng đất có độ pH từ 4,0 - 8,5 muốn trồng cam Vinh, bà con cần cải tạo đất, bón vôi.</li>
                <li>Ánh sáng: Giống cam Vinh ưa ít nắng, thời gian hấp thụ ánh sáng trong ngày từ 4 - 5 giờ.</li>
            </ul>
        </div>
    </div>
    <div id="oi" class="card" style="width: 33rem;margin-left: 10px;">
        <div class="card-body">
          <h5 class="card-title">Cây Ổi</h5>
          <h6 class="card-subtitle mb-2 text-muted">Yêu cầu điều kiện sinh trưởng của cây ổi</h6>
            <ul>
                <li>Tưới sau khi trồng: Sau khi trồng cây rất cần nước, do vậy phải tưới nước ngay để cây chóng hồi phục. Tùy chân đất thấp hay cao, loại đất mà ta có thể tưới để đảm bảo độ ẩm đất cho cây con phát triển. Nên tưới nước cho ổi thường xuyên ngày 2 lần cho tới khi cây đã ra được 2 đợt tược mới thì giảm xuống 1 lần/ngày.</li>
                <li>- Mặc dù ổi chịu hạn khá tốt nhưng việc tưới cho cây vào mùa nắng sẽ giúp cây phát triển khỏe. Tưới nước vào lúc cây cho trái giúp tăng năng suất và kích thước trái. Lượng nước tưới và thời gian tưới thay đổi tùy theo tuổi cây và mùa trong năm.Tùy vào điều kiện tự nhiên và kinh tế từng vùng để chọn phương pháp tưới thích hợp.</li>
            </ul>
        </div>
    </div>
    <div id="tao" class="card" style="width: 33rem;margin-top: 10px;">
        <div class="card-body">
          <h5 class="card-title">Cây táo</h5>
          <h6 class="card-subtitle mb-2 text-muted">Yêu cầu điều kiện sinh trưởng của cây táo</h6>
            <ul>
                <li><b>Cách trồng:</b>
                    Vét 1 hố nhỏ ở giữa ụ, đặt bầu cây ngang với mặt ụ, vun đất nén chặt xung quanh bầu. Phủ rơm rạ rắc xung quanh gốc một lớp dày 2-3cm. Tưới ngay sau trồng mỗi cây 2-3 gáo nước.
                    
                    Chăm sóc và bón phân:
                    
                    Trong tuần đầu, mỗi ngày tưới cho cây 1 lần vào buổi sáng hoặc chiều muộn, mỗi lần một thùng nước. Sau đó thì cách 2,3 ngày tưới 1 lần cho tới hết tháng. Khi cây phát triển thì sẽ tưới thưa hơn, đảm bảo đất luôn ẩm.
                    </li>
                <li>- Mặc dù ổi chịu hạn khá tốt nhưng việc tưới cho cây vào mùa nắng sẽ giúp cây phát triển khỏe. Tưới nước vào lúc cây cho trái giúp tăng năng suất và kích thước trái. Lượng nước tưới và thời gian tưới thay đổi tùy theo tuổi cây và mùa trong năm.Tùy vào điều kiện tự nhiên và kinh tế từng vùng để chọn phương pháp tưới thích hợp.</li>
            </ul>
        </div>
    </div>
</div>

<%- include("_footer") -%>