section#content{
    min-height: 508px;
}
.navbar{
    background-color: #e4ffea!important;
}
.about{
    background-color: #fceacd21;
}
footer{
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 0;
}
.mga{margin:0 auto}
.item{
    width: 300px;
    padding: 30px;
    font-size: 24px;
    margin-right: 25px;
    margin-left: 25px;
}
.item button{
    margin: 5px
}
.featured strong{
    font-weight: bold;
    color: red;
    background-color: #faf67a;
    padding: 6px 12px;
    border-radius: 50%;
}
.featured p{
    line-height: 35px;
}